<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickLookSIMS.app Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>QuickLookSIMS.app Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SIMS.mdimporter Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SIMS.mdimporter Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SIMS.qlgenerator Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SIMS.qlgenerator Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SpotlightSIMS.app Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D56DD40203F896700058133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D56DD4E203F8F3600058133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D56DD5E203F966600058133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DA406D42033AD6000FA2048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DE2F517201D2026008F7579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
